
     <h5>グループ一覧<h5>
      <table class="table">
          <thead class="thead-dark">
          <thead>
                <tr>
                  <th>グループ名</th>
                  <th>グループ説明</th>
                </tr>
          </thead>
          <tbody>
            <tr>
                  <% @groups.each do |f| %>
                  <td><%= f.name %></td>
                  <td><%= f.introduction %></td>
               <td><%= link_to '詳細', group_path(@group.id), class: "btn btn-sm btn-success" %></td>
          </tr>
           <% end %>
          </tbody>
        </table>
                     
                     
                   
                