        <div class="container mt-4">
          <div class="row">
            <div class="col-md-12 col-lg-6 offset-lg-3">
            <p class="text-center bg-info text-white font-2">グループ作成</p>
             <div class="d-flex justify-content-center">
                <%= form_with model:@group, url:groups_path, method: :post do |f| %>
                     <div class ="mt-5">
                        <h4>グループ名</h4>
                        <span class="badge badge-info rounded-0">必須</span>
                        <%= f.text_field :name, :size => "60*30" %>
                     </div>
                     <div class ="mt-5">
                        <h4>グループ説明</h4>
                        <span class="badge badge-info rounded-0">必須</span>
                        <%= f.text_area :introduction, :size => "60*60" %>
                     </div>
                     <div>
                        <%= f.submit'登録する',class:"btn btn-success" %>
                     </div>
                <% end %>  
             </div>
            </div>
        　</div>
        </div>