<h1>グループ作成</h1>
    <%= form_with model:@group, url:groups_path, method: :post do |f| %>

        <h1>グループ名</h1>
        <%= f.text_field :name %>
    
        <h1>グループ説明</h1>
        <%= f.text_area :introduction %>
        
        <%= f.submit'登録する' %>
   <% end %>   