<div class="jumbotron">
  <h1 class="display-3">Welcome to EnjoyFamily!</h1>
  <p class="lead">EnjoyFmailyは家族の予定や親戚間の予定を共有する事で大事な人たちを守る事を目的としたアプリです。</p>
  <hr class="my-2">
  <p>良好な家族作り、子供の未来をみんなで守りましょう。</p>
</div>